[project]
	description = mergesort
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/phaniranjan
[access "refs/for/refs/*"]
	read = group user/phaniranjan
	push = group user/phaniranjan
	label-Code-Review = -2..+2 group user/phaniranjan
	label-Verified = -1..+1 group user/phaniranjan
	rebase = group user/phaniranjan
	removeReviewer = group user/phaniranjan
	submit = group user/phaniranjan
[access "refs/heads/*"]
	read = group user/phaniranjan
	create = group user/phaniranjan
	push = +force group user/phaniranjan
	pushMerge = group user/phaniranjan
[access "refs/tags/*"]
	push = group user/phaniranjan
	push = +force group user/phaniranjan
